@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

body {
  
  font-family: 'Lato', sans-serif;
} 

header {
  height: 85vh;
  width: 100%;
  background-image: url(../public/dock.png);
  background-size: cover;
  background-position: 40%;

}

.about, .gallery, .career, .menu {
  background-image: url(../public/pattern2.png);
  background-repeat: repeat;
  min-height: 80vh;
  margin-bottom: 5rem;
  /* border: .5px solid black; */

}
